body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron {
  margin-top: 30px;
  background-image: url(../img/square.jpg);
  background-size: cover;
  background-position: center;
  color: #323335;
  text-align: center;
  border: 2px solid #525457;
}

.jumbotron h2 {
  color: #172230;
  font-weight: bold;
  margin: 0px 20px;
}

#output {
  display: none;
  margin-left: 14px;
  margin-right: 14px;
}

button.btn-default {
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
  margin: 24px 0px;
  background-color: #172230;
  color: white;
}

button.btn-default:hover {
  background-color: white;
  color: #172230;
  border: 2px solid #172230;
}

h3 {
  margin-top: 24px;
  font-weight: bold;
}

.well {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 50px;
  background-image: url(../img/abstract.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #323335;
  border: 2px solid #525457;
}

form h3, #output h3 {
  color: #172230;
  font-weight: bold;
}

#output p {
  font-size: medium;
}

.form-control {
  color: #172230;
  border: 1px solid #172230;
  font-size: medium;
}

.radio {
  font-size: medium;
}

a {
  color: #172230;
  font-weight: bold;
}

a:hover {
  color: #264124;
}
