body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(../img/matrix.jpg);
  background-size: cover;  
}

.jumbotron {
  margin-top: 30px;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid #f3526d;
}

.jumbotron h2 {
  font-size: 18px;
  color: #1ef00b;
}

#output {
  display: none;
}

button.btn-default {
  width: 100%;
  font-weight: bolder;
  margin: 24px 0px;
  font-size: 20px;
}

h3 {
  margin-top: 24px;
}

.well {
  margin-bottom: 20px;
  padding: 10px 50px;
  background-color: black;
  color: white;
  border: 2px solid #1ef00b;
}

form h3 {
  color: #f3526d;
}